#{extends 'main.html' /}
#{set title:'状态码' /}
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/libs/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<div class="container-fluid" style="margin:60px 0 0 0">
    <div style="margin:0 0 30px 0">
        <h3>${project.name}</h3>
    </div>
    <div style="margin:0 0 10px 0">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            新增状态码
        </button>
    </div>
#{ifErrors }
    <div class="alert alert-error" id="alert" style="width: 50%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>oh no！</strong> #{errors }
        <li>${error}</li> #{/errors}
    </div>
#{/ifErrors}
</div>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>错误码</th>
            <th>描述</th>
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody>
        #{list conditionList,as:'condition'}
        <tr>
            <td>${condition.code}</td>
            <td>${condition.describe}</td>
            <td width="10%">
                <button id="edit" class="btn btn-default" onclick="edit('${condition.id}');" data-toggle="modal"
                        data-target="#myModal">编辑
                </button>
                <a id="delete" class="btn btn-default"
                   href="/condition/delete?id=${condition.id}&projectId=${projectId}">删除</a>
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" style="text-align:center">
    <div class="modal-dialog">
        <div class="modal-content" style="margin:100px auto;width: 400px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">新增状态码</h4>
            </div>
            <form action="/condition/save" method="post">
                <div class="modal-body">

                    <div class="row">
                        <div>
                            <input type="text" id="code" name="code" class="col-lg-8" placeholder="状态码">
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <textarea rows="3" id="describe" name="describe" class="col-lg-10"
                                      placeholder="描述"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="conditionId">
                    <input type="hidden" name="projectId" value="${projectId}">
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="return check();" class="btn btn-info">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function edit(id) {
        $.ajax({
            type: "POST",
            url: "/condition/getCondition",
            data: {"id": id},// 要提交的表单
            success: function (msg) {
                if (msg.length > 0) {
                    var json = JSON.parse(msg);
                    console.log(msg);
                    $("#code").val(json.code);
                    $("#describe").val(json.describe);
                    $("#conditionId").val(json.id);
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function check() {
        if ($("#code").val().length < 1) {
            alert("状态码不能为空！");
            return false;
        }
        return true;
    }

</script>
