#{extends 'main.html' /}
#{set title:'首页' /}
<div class="container">
    <div class="row index-searcher">
        <h1>EagleEyes</h1>

        <div class="row col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>

    </div>
</div>